

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,* {
margin: 0;
padding: 0;
border: 0;
font: inherit;
vertical-align: baseline;
overflow:visible;
}
body{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;  font-size:72.5%; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, * { margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; overflow: visible; }
body { font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif; font-size: 72.5%; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
.clear { clear : both}
	ul {list-style-type : none ;}
#div_Container{
    min-height: 490px;
    height:auto;
    width: 98%;
      border: 1px solid #5f8296;
      padding : 2px;
    }    
#div_Container ul.ul-chkConfig{
    width : 98%;
    height : 40px;
    padding-left : 5px;
    list-style-type : none;	
    border: 1px solid #5f8296;
    border-radius : 4px;
    background-color : #efefef;
    }
    #div_Container ul li.items{
        float: left;
        width : 20%;
        height : 15px;
        margin-top : 5px;
    }
     #div_Container ul li input.chkConfig {
        margin-top : 0px; 
        vertical-align : middle ;    
         }
#div_Container ul li  label{             cursor: pointer;}
         #div_componentContianer { overflow-y : scroll; height : 375px;position: relative  }
    
 .header { background: url('../../Images/Bgv/header_1.png') repeat-x; width: 99%; float: left; color: #FFFFFF; font-size: 13px; font-weight: bold; line-height: 30px;position:relative; border: 1px solid #efefef;cursor:default ;padding-left:5px;
           }
 .header img { margin-left : 10px; vertical-align : middle ; margin-right : 10px;display:none; }
 .comp_content { padding: 4px; width : 98%; border: 1px solid #5f8296;
                 position:absolute;height:80; }
 
 .leftPanel { float : left; width : 50%;margin-right:5px;} 
 .leftPanel ul,.bottompanel ul{width : 98%;border-radius : 4px; border: 1px solid #5f8296;padding:4px;
    background-color : #efefef;} 
 .leftPanel ul li,.bottompanel ul li{ width : 98%;position:relative ;min-height:35px;margin-bottom : 3px;}  
 .leftPanel ul li.compare{height:50px;}
.bottompanel ul li label, .leftPanel ul li label, .leftPanel ul li input,.leftPanel ul li select.dropdown{float:left;width:45%;}  
 .rightPanel { float : left; width : 48%; border-radius : 4px;background-color : #efefef; border: 1px solid #5f8296; margin-top:-2px}
 .bottompanel { float : left; width : 99.6%; height : auto; display : none ; margin-top : 5px; }
 .subContainer .rightPanel .doc_list_man li {width:90%;float:left;}
 .subContainer .rightPanel .doc_list_man li label {padding-left:5px;float:left;}
 .subContainer .rightPanel .doc_list_man li input[type="text"] { border : 1px solid #000; width : 150px;height:20px;float:right;}
 .subContainer .rightPanel .doc_head_man li {width: 99.2%; text-align: left; padding-left: 4px;}
 .mandatoryLabel {color : Red ;}
.bottompanel ul li input.txtbox, .leftPanel ul li input.txtbox, .leftPanel ul li span.txtbox,.leftPanel ul li select.dropdown { border : 1px solid #000; width : 225px;height:20px;float:right
                                 }
     input[type="button"] {
            height: 25px;
            line-height: 20px;
            width: 60px;
            cursor: pointer;
            border-radius:4px;
            *font-size:1em;
            background-image: url("../../Images/Bgv/header_bg.png");
            color: #fff;
            margin:3px 0 3px 0;
        }
         .leftPanel ul li span.txtbox{ background-color : White; padding:4px 0 0 4px; height: 16px;width: 220px;word-wrap:break;
                                        }
        .verficationBox {position:relative ;} /*height:50px;*/
        .rightPanel ul { width : 100%;} 
         .rightPanel ul.doc_list {float:left;}       
        .rightPanel ul.doc_head li { background: url('../../Images/Bgv/header_1.png') repeat-x;color:White;font-weight:bold;}
        .rightPanel ul  li {height:25px;padding-top:10px;text-align:left;float:left;width:30.4%;}   
        .rightPanel ul  li.chkboxWidth {width:21px;}
           
        /*.rightPanel ul.doc_list { overflow-y:scroll ;} */
        .rightPanel ul li input.txtbox {border : 1px solid #000; width : 90%;height:20px;float:right}
        table.ui-date_picker, table.ui-calendar {
            background-color : #efefef; text-align:center ; border-left: 1px solid #aca9a9;   
            }
                table.ui-date_picker {
            border-bottom: 1px solid #aca9a9; 
                }
              table.ui-date_picker tr {
                   height : 25px;                  
                  text-align: center;	
                  vertical-align : middle ;
              }
               table.ui-date_picker tr.ui-border th, table.ui-date_picker tr.ui-border td {
                   width : 50px;                    
                   padding : 2px;
                   cursor : default ;
                    text-align: center;	
                  vertical-align : middle ;                  
                 
                    border-right: 1px solid #aca9a9;   
                    border-collapse : collapse;                  
               }                 
 table.ui-date_picker  tr td button,  table.ui-date_picker tr th{
     background: url('../../Images/Bgv/header_1.png');color:White ;font-weight : bold;
     }
     table.ui-date_picker  tr td button {
         height: 18px;         
         width: 50px;
         border-radius : 2px;
                cursor:pointer;   
                margin-top : 5px;            
                                
     }
       table.ui-calendar tr th, table.ui-calendar tr td {
         height: 15px;
         text-align: center;
         vertical-align: middle;
       }
     table.ui-calendar tr td {           
         width: 5px;              
                cursor:pointer;                   
         }
            table.ui-calendar {         
                   cursor : default ;
                    text-align: center;	
                  vertical-align : middle ;                   
                  border-bottom: 1px solid #aca9a9; 
                    border-right: 1px solid #aca9a9;   
                    border-collapse : collapse; 
            }
ul#ui-auto-complete  {
  
    width: 350px;z-index: 9999;
                height : 250px;position:absolute;
                overflow-y : scroll;
    }
    ul#ui-auto-complete li {
         border-bottom: 1px solid #aca9a9;   
         width:  100%;
         cursor : pointer ;
         min-height : 20px;
         padding: 5px 0 0 2px;
         word-wrap:break-word;
        }
        ul#ui-auto-complete li.li_select {
     background-color:White;
        }    
.bottompanel ul li { width:47%;float:left ;margin-right:5px;}
.delete {float : right;padding-right:5px;cursor:pointer;}
#Exp_info_div {float:left;width:50%;border-radius : 4px;margin-top:5px;background-color : #efefef;height:20px;border:1px solid #000; padding:4px; }
#Exp_info_div ul {width:100%;}
#Exp_info_div ul li{width:50%;float:left;}
#Exp_info_div ul li span{float:right;padding:2px 5px 1px 5px;margin-right:70px;margin-top:-2px;background-color:White;border:1px solid #000;}
.div_btn{float:right;margin-right:10px;}
.overLay { display:none; position:fixed; _position:absolute; /* hack for internet explorer 6*/background-color:#000000; border:1px solid #cecece; z-index:9999;}
.otherTxt{display:none;}
.datepicker { background-image: url('../../Images/Bgv/calendar.png'); background-repeat: no-repeat; background-position: right; }
.alert_f_text
{
    float: right;
    height: 10px; 
    margin: 0;
    padding: 0 0 0 170px;
    text-align: right; 
    width: 250px;
    font-size:0.8em;
    color:#ff0000;
    display:none;
    
    }
.alert_f
{
    height: 12px;
    width: 13px;
    margin: 6px;
    float: right;
    background: url('../../Images/formredalert.png') no-repeat;
    display:none;
}
.verficationBox {display :none;height:65px;}
.verficationBox .overLapVer { background-position: -55px; background-image: url('../../Images/Bgv/verification.png'); height: 62px; width: 58px;  background-repeat: no-repeat; cursor: pointer; }
.verficationBox .gapVer { background-position: 2px; background-image: url('../../Images/Bgv/verification.png'); height: 62px; width: 58px; background-repeat: no-repeat; cursor: pointer;  }
.verficationBox .misMatchFrom { background-position: -112px; background-image: url('../../Images/Bgv/verification.png'); height: 62px; width: 58px; background-repeat: no-repeat; cursor: pointer;}
.verficationBox .misMatchTo { background-position: -112px; background-image: url('../../Images/Bgv/verification.png'); height: 62px; width: 58px; background-repeat: no-repeat; cursor: pointer;}
.footerContent {height: 50px; position:relative;}
.notification_bar {height: 10px; position:relative;width:98%;overflow:hidden;color : Red;font-weight:bold;width:500%;}
.verficationBox div {float: left;}
.verify{display : none;}
.verfication_info{width: 55%;margin-left: 10px;}
.verfication_info textarea{width : 300px;border: 1px solid #000; height: 20px;margin-top : 5px;vertical-align: middle; }
 .verfication_info span{height: 30px; position: relative;}
.verfication_info span input{width: 300px;}
.div_instructions{height: 25px;line-height: 20px; cursor: pointer;font-size:1em; background-image: url("../../Images/Bgv/header_bg.png");color: #fff; margin:3px 0 3px 0;width : 99%;padding:0  5px 0 5px;}
.instructions_txt{width: 100%;border:  1px solid #b5c1ca;position: absolute;display: none;background-color: #ebe4e4;}
.spanWrap {white-space: nowrap; overflow: hidden;}