/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,* {
margin: 0;
padding: 0;
border: 0;
font: inherit;
vertical-align: baseline;
overflow:visible;
}
body{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;  font-size:72.5%; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ul { list-style-type:  none ;}
.Basic_info_section { height:  465px; overflow:hidden;}
.div_Container { height : 470px; width : 956px;overflow: hidden;border: 1px solid #CCCCCC; padding : 5px;}
.inner_header { color : #fff;width: 98%; height:30px; text-align:left;vertical-align:middle;background-image: url('../../Images/Bgv/header_bg.png'); background-repeat: repeat-x; padding: 8px 0 0 8px;font-size :1.2em;font-weight:bold;}
.inner_header_basicinfo  { color : #fff;width: 98%; height:20px; text-align:left;vertical-align:middle;background-image: url('../../Images/Bgv/header_bg.png'); background-repeat: repeat-x; padding: 6px 0 0 8px;font-size :1.2em;font-weight:bold;}
.flft {float:left;}
.info_section_list {width : 99.1%; margin-bottom : 5px;border-left:1px solid #b5c1ca;}
.info_section_list li{ width: 48%; float :left; border-right:1px solid #b5c1ca;border-bottom:1px solid #b5c1ca;height:35px;padding: 8px 0 0 16px;}
.info_section_list li label {float:left;}
.info_section_list li input {float:right;}
.info_section_list li select {float:right;}
.txtBox{border:1px solid #909090;width : 180px; margin-right:10px;height:20px;float:right;} 
.page_old_text { width: 48%; height : 10px;}
.clear {clear : both;}
.proceed {float : right;margin-right:20px;}
.info_section div ul.info_section_list li.datePickerLi img.alert_f { margin-left: -25px; top: 5px; float: left; position: absolute; }
.prefilValue{float:right; margin-right:130px;}
.info_section {height: 430px;overflow-y:scroll;}
.spanWrap {white-space: nowrap; overflow: hidden; display: inline-block;}
  input[type="button"] {
            height: 25px;
            line-height: 20px;
            min-width: 60px;
            cursor: pointer;
            border-radius:4px;
            padding: 0 5px 0 5px;
            *font-size:1em;
            background-image: url("../../Images/Bgv/header_bg.png");
            color: #fff;
            margin:3px 0 3px 0;
        }
        .alert_f_text
{
    float: right;
    height: 10px;     
    padding: 0 0 0 45px;
    text-align: right; 
    width: 185px;
    font-size:0.8em;
    color:#ff0000;
    display:none;    
    margin:20px -200px 0 0;
    }
.alert_f
{
    height: 12px;
    width: 13px;
    margin: 6px;
    float: right;
    background: url('../../Images/formredalert.png') no-repeat;
    display:none;
}
.val_Compare{
    float:right;color:red;
    }
    .ui-datepicker-trigger {
        float : right;
        margin-right:-180px;
        *margin-left : 180px;
        }
.overLay { display:none; position:fixed; _position:absolute; /* hack for internet explorer 6*/background-color:#000000; border:1px solid #cecece; z-index:9999;}

.div_instructions{
         height: 25px;
            line-height: 20px;            
            cursor: pointer;            
            font-size:1em;
            background-image: url("../../Images/Bgv/header_bg.png");
            color: #fff;
            margin:3px 0 3px 0;
            width : 99%;
            padding:0  5px 0 5px;
    }

.instructions_txt{        
        width: 100%;
        border:  1px solid #b5c1ca;
        position: absolute;
        display: none;
        background-color: #ebe4e4;
        }

