@charset "utf-8";
.contentwrapper { }
.contentwrapper { position: relative; left: -1px; top: -0px;  background: url(../../Images/RelocationAssistance/bg_inner.jpg) no-repeat;  height: 512px; width: 920px;z-index: 600; display: none;  }
