<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <appSettings>
        <add key="ECMCRSConnectionString" value="Data Source=CTSINTCOSEAD4\CRSSTAGING;Initial Catalog=DBAdmin_staging; Persist Security Info=True;Integrated Security=SSPI;" />
        <add key="ecmUserName" value="SsoneconboardingDev1"/>
        <add key="ecmPassword" value="aug-2011"/>
        <add key="IsECMSSOEnabled" value="true"/>
        <add key="AppId" value="1004"/>
        <add key="ECMSSOTokenName" value="ASCAAT"/>
        <add key="UploadUtilityURL" value="https://ecmssltest.cognizant.com/UploadUtility_SIT/Uploadutility.aspx"/>
    </appSettings>

    <connectionStrings>
        <add name="CRSConnectionString" connectionString="Database=OneC_Core;Server=CTSINTCOSEAD4;User ID=OneC_OnBoarding;Password=OneC_OnBoarding;Max Pool Size=400; Connect Timeout=30" providerName="System.Data.SqlClient" />
        <add name="conString" connectionString="Data Source=CTSINTBMVOCDB1\SIT;Initial Catalog= OneC_OnBoarding_Uk;Persist Security Info=True; Integrated Security=SSPI;"/>
    </connectionStrings>
    <system.web>

        <!--<sessionState mode="SQLServer" sqlConnectionString="Data Source=CTSINTCOVSODB1;Initial Catalog=ASPState;Persist Security Info=True;User ID=OneCognizant;Password=OneCognizant" cookieless="false" timeout="20" allowCustomSqlDatabase="true" compressionEnabled="true"/>-->
        <sessionState mode="StateServer" stateConnectionString="tcpip=CTSINTCOVOCFA1:42424" cookieless="false" timeout="20"/>
        <compilation debug="false"  />

        <authentication mode="Windows" />

        <customErrors mode="RemoteOnly" defaultRedirect="AccessBlock.aspx">
            <error statusCode="403" redirect="AccessBlock.aspx?BlockId=0"/>
            <error statusCode="404" redirect="AccessBlock.aspx?BlockId=11"/>
        </customErrors>

        <httpHandlers>
            <remove path="*.asmx" verb="*" />
            <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
              validate="false" />
            <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
              validate="false" />
            <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
              validate="false" />
        </httpHandlers>

        <httpModules>
            <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </httpModules>

        <httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="2000000"/>
        <machineKey validationKey="0AE26A522D2D6EC6B0C23A32EC471014DDFAA09A9319DDD5" decryptionKey="94C259C4E69E39B1CAAEBB8E821F2A85A624271113979A0E" validation="SHA1" />

    </system.web>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <security>
            <authorization>
                <remove users="?" roles="" verbs="" />
                <add accessType="Allow" users="?" />
            </authorization>
        </security>
    </system.webServer>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CI_CT_ELM1C_Binding" closeTimeout="00:10:00" openTimeout="00:10:00"
                  receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
                  bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                  maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                  useDefaultWebProxy="true">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                      maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                          realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IDashBoardServices" closeTimeout="00:10:00"
                  openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                  maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                  messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered"
                  useDefaultWebProxy="true">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                      maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                          realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ICandidateServices" closeTimeout="00:10:00"
                  openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                  maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                  messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered"
                  useDefaultWebProxy="true">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                      maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                          realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IOBUtilityMethods" closeTimeout="00:10:00"
                  openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                  maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                  messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered"
                  useDefaultWebProxy="true">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                      maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                          realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpMtomBinding" closeTimeout="00:10:00"
                  openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                  maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                  messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered"
                  useDefaultWebProxy="true">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                      maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                          realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IService_EUMS" closeTimeout="00:10:00"
                 openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                 allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                 maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                 messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                 useDefaultWebProxy="true">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                      maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                          realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="GetFileSoap" closeTimeout="00:10:00" openTimeout="00:10:00"
                         receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="true"
                         bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                         maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
                         messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                         useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                          realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="SearchSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                         receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="true"
                         bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                         maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
                         messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                         useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                          realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="ECMDABasicHttpBinding" closeTimeout="00:01:00"
                          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                          maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
                          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                          useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                          realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="ECMBasicHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
                  receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                  bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                  maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
                  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                  useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                          realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IService_EUMS" closeTimeout="00:10:00"
                  openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                  bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                  maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                  messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                  allowCookies="false">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                      maxArrayLength="16384" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                      enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                          realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                          algorithmSuite="Default" />
                    </security>
                </binding>

            </wsHttpBinding>
        </bindings>

        <behaviors>
            <endpointBehaviors>
                <behavior name="DBEndPointBehaviour">
                    <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
                </behavior>
            </endpointBehaviors>
        </behaviors>

        <client>
            <endpoint address="http://10.237.71.106:7050/PSIGW/PeopleSoftServiceListeningConnector"
              binding="basicHttpBinding" bindingConfiguration="CI_CT_ELM1C_Binding"
              contract="ELMService.CI_CT_ELM1C_PortType" name="CI_CT_ELM1C_Port" />
            <endpoint address="http://onecsitdbsrvs.cognizant.com/OnboardingWCF/ServiceHost/DashBoardServices.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDashBoardServices"
              contract="Service.DashBoardServices.IDashBoardServices" behaviorConfiguration="DBEndPointBehaviour"
              name="BasicHttpBinding_IDashBoardServices" />
            <endpoint address="http://onecsitdbsrvs.cognizant.com/OnboardingWCF/ServiceHost/CandidateServices.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICandidateServices"
              contract="Service.CandidateServices.ICandidateServices" behaviorConfiguration="DBEndPointBehaviour"
              name="BasicHttpBinding_ICandidateServices" />
            <endpoint address="http://onecsitdbsrvs.cognizant.com/OnboardingWCF/ServiceHost/OBUtilityMethods.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOBUtilityMethods"
              contract="Service.OBUtilityMethods.IOBUtilityMethods" behaviorConfiguration="DBEndPointBehaviour"
              name="BasicHttpBinding_IOBUtilityMethods" />
            <endpoint address="http://onecsitcoresrvs.cognizant.com/SharedStorage/DocumentUploadService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpMtomBinding"
              contract="FileUploadService.IDocumentUploadService" name="BasicHttpMtomBinding" />
            <endpoint address="http://10.237.213.45/EUMS_Service/Service_EUMS.svc"
                 binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService_EUMS"
                 contract="IDMSvcRefFromIDM.IService_EUMS" name="WSHttpBinding_IService_EUMS" />

            <endpoint address="https://ecmtest.cognizant.com/_dav/cs/idcplg"
                      binding="basicHttpBinding" bindingConfiguration="GetFileSoap"
                      contract="Service.GetFile.GetFileSoap" name="GetFileSoap" />
            <endpoint address="https://ecmtest.cognizant.com/_dav/cs/idcplg"
                      binding="basicHttpBinding" bindingConfiguration="SearchSoap"
                      contract="ECMSearchServiceRef.SearchSoap" name="SearchSoap" />
            <endpoint address="https://ecmssltest.cognizant.com/ECMSSLDAService/ECMSharedSLDAService.svc"
                      binding="basicHttpBinding" bindingConfiguration="ECMDABasicHttpBinding"
                      contract="ECMSharedLibraryDAServiceRef.IECMSharedSLDAService"  name="ECMDABasicHttpBinding" />
            <endpoint address="https://ecmssltest.cognizant.com/ECMSSLFileCommitService/ECMFileUploadCommitService.svc"
                      binding="basicHttpBinding" bindingConfiguration="ECMBasicHttpBinding"
                      contract="FileUploadCommitService.IECMFileUploadCommitService" name="ECMBasicHttpBinding" />
        </client>
    </system.serviceModel>
</configuration>
