<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserProfile" />
            </basicHttpBinding>
            <customBinding>
                <binding name="Rest">
                    <textMessageEncoding messageVersion="Soap12" />
                </binding>
            </customBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUserProfile">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IRequestUnifiedVASContract" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ILogging" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://onecuatcoresrvs.cognizant.com/Messaging/OneCommunicator/Notification/VAS.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRequestUnifiedVASContract"
                contract="ServiceReferenceForMail.IRequestUnifiedVASContract"
                name="WSHttpBinding_IRequestUnifiedVASContract">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://onecognizantcoresrvs.cognizant.com/ExceptionLogging/Logging.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILogging"
                contract="ExceptionLoggingService.ILogging" name="WSHttpBinding_ILogging">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://onecuatvassrvs.cognizant.com/1/UserProfile.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserProfile"
                contract="UserProfileService.IUserProfile" name="BasicHttpBinding_IUserProfile" />
            <endpoint address="net.tcp://onecuatvassrvs.cognizant.com/1/UserProfile.svc"
                  binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserProfile"
                  contract="UserProfileService.IUserProfile" name="NetTcpBinding_IUserProfile">
              <identity>
                <dns value="localhost" />
              </identity>
            </endpoint>
            <endpoint binding="customBinding" bindingConfiguration="Rest"
                contract="UserProfileService.IUserProfile" name="Rest" />
        </client>
    </system.serviceModel>
</configuration>
