.QAS_Header
{
	display: block;
	padding: 1em;
	position: relative;
}

.QAS_Prompt
{
	padding-top: 20px;
	padding-left: 1em;
	float: left;
	width: 450px;
}

.QAS_EmailPrompt
{
	padding-top: 10px;
	padding-left: 1em;
	float: left;
	width: 355px;
}

.QAS_PhonePrompt
{
	padding-top: 10px;
	padding-left: 1em; /*width: 355px;*/
}

.QAS_EmailContinue, .QAS_PhoneContinue
{
	right: 0px;
	position: absolute;
	bottom: 0px;
	padding-top: 2em;
}

.QAS_Input
{
	padding: 0em 0em 0.3em;
	float: left;
}

.QAS_PhoneInput
{
	padding: 0em 0em 0.3em;
	float: left;
}

.QAS_EmailInput
{
	padding: 0em 0em 0.3em;
}

.QAS_RightDetails
{
	padding-top: 20px;
	padding-left: 1em;
	float: right;
	border-left: 1px solid #aaaab8;
	width: 300px;
}

.QAS_RightSidePrompt
{
	padding-bottom: .5em;
}

.QAS_RightSidePromptText
{
	padding-bottom: .5em;
}

.QAS_RightDetails table
{
	font-size: .9em;
}
.QAS_EditLink
{
	font-size: .8em;
	padding-left: 1em;
}

.QAS_Picklist
{
	padding-top: .5em;
	padding-left: 1em;
	width: 450px;
	float: left;
	font-size: .9em;
}

.QAS_DeliverableWarning
{
	font-size: .8em;
	padding-top: .6em;
}

.QAS_Pick
{
	font-size: .9em;
	display: none;
	width: 450px;
	height: 200px;
	overflow: auto;
}

.QAS_MultPick
{
	font-size: .9em;
	display: none;
	width: 450px;
	height: 200px;
	overflow: auto;
}

.QAS_ShowPick
{
	padding-bottom: .6em;
}

.QAS_Pick table, .QAS_MultPick table
{
	font-size: .9em;
}
.QAS_Pick table td, .QAS_MultPick table td
{
	padding-right: 1.5em;
}

.QAS_EmailSuggPrompt
{
	font-size: 1.0em;
}

.QAS_PromptText
{
	margin-bottom: .5em;
}

.QAS_EmailPromptText
{
	margin-bottom: .5em;
}

.QAS_EmailErrText
{
	margin-bottom: .5em;
	color: Red;
}

.QAS_PhonePromptText
{
	margin-bottom: .5em;
}

.QAS_PhoneNamePrompt
{
	margin-bottom: .5em;
	color: Red;
}

.QAS_PhoneErrText
{
	margin-bottom: .5em;
	color: Red;
}

.QAS_PromptData table
{
	background-color: #e0e0ff;
}

.QAS_EmailPromptData table
{
	background-color: #e0e0ff;
}

#QAS_RefineText
{
	background: #eaecf6;
	border: 1px solid #aaaab8;
	width: 100px;
	margin-right: 1em;
}

#QAS_EmailRefineText
{
	background: #eaecf6;
	border: 1px solid #aaaab8;
	width: 275px;
	margin-right: 1em;
}

#QAS_PhoneRefineText
{
	background: #eaecf6;
	border: 1px solid #aaaab8;
	width: 200px;
	margin-right: 1em;
}

#QAS_RefineBtn, #QAS_NoApt, #QAS_TDContinue, #QAS_AcceptOriginal, #QAS_Cancel, #QAS_Continue
{
	padding: .1em 1em;
}

#QAS_Cancel
{
	margin-left: .5em;
}

#QAS_Continue, #QAS_Cancel
{
	margin-top: 1em;
	float: right;
}

#QAS_NoApt
{
	margin-top: .5em;
}

.QAS_PhoneName, .QAS_PhoneAddress
{
	background: #eaecf6;
	border: 1px solid #aaaab8;
	font-size: .9em;
	padding-top: .1em;
	margin-bottom: .1em;
	overflow: hidden;
	resize: none;
}

textarea.QAS_PhoneName
{
	outline-style: none;
	font-size: .9em;
	width: 265px;
}

input.QAS_PhoneAddress
{
	font-size: .9em;
	width: 350px;
}

.QAS_PhoneLeftPromptText, .QAS_PhoneRightPromptText
{
	padding-bottom: .5em;
}

.QAS_ClearBoth
{
	clear: both;
}

.QAS_PhoneLeft
{
	float: left;
	border-right: 1px solid #aaaab8;
	width: 400px;
}

.QAS_PhoneRight
{
	float: right;
	width: 270px;
}